/* para não calcular a dimensão com borda/margem (altura e largura)*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* Cor de fundo */
body{
    background-color: #62374e;
}
/* Definindo as dimensões do 1° quadrado( posicionamento do elemento, largura, tamanho, cor, espaço a partir da margem) */
.quadrado{
    float: left;
    width: 100px;
    height: 100px;
    background: #fdc57b;
    margin-left: 180px;
    margin-top: 60px;
    position: absolute;
}
/* Definindo as dimensões do 2° quadrado( posicionamento do elemento, largura, tamanho, cor, espaço a partir da margem) */
.quadrado2{
    float: left;
    width: 100px;
    height: 100px;
    background: #fdc57b;
    position: absolute;
    top: 400px;
    margin-left: 170px; 
}
/* Definindo as dimensões do 3° quadrado( posicionamento do elemento, largura, tamanho, cor, espaço a partir da margem) */
.quadrado3{
    float: left;
    width: 100px;
    height: 100px;
    background: #fdc57b;
    position: absolute;
    top: 400px;
    margin-left: 900px;
}
/* Definindo as dimensões do 4° quadrado( posicionamento do elemento, largura, tamanho, cor, espaço a partir da margem) */
.quadrado4{
    float: left;
    width: 100px;
    height: 100px;
    background: #fdc57b;
    position: absolute;
    top: 60px;
    margin-left: 900px;
}